/**
 * Float Layout Activity 
 **/
* {
  box-sizing: border-box;
  text-align: center;
}

body {

}

header {
	padding: 20px;
	margin-bottom: 20px;
	color: #333;
  background: #ccc;
}

section {
	background: #eee;
	margin-bottom: 20px;
	padding: 50px;
}

#left {
	padding: 20px;
	margin-bottom: 20px;
	width: 33.3%;
	color: #FFF;
  	background: #ccc;
  	float: left;
  	t
}

#middle {
	padding: 20px;
	margin-bottom: 20px;	
	color: #FFF;
  	background: #888;
  	width: 33.3%;
  	float: left; 
}

#right {
	background: #666;
	padding: 20px;
	margin-bottom: 20px;
	width: 33.3%;
	float: left;
	color: #FFF;
}

#full {
	background: #eee;
	margin-top: 100px;
	padding-top: 40px;
	padding-bottom: 43px;
}

#division {
	background: #6ea3da;
	margin-bottom: 15px;
	padding: 15px;
	padding-top: 18px;
}

aside {
	background: #fff;
	float: left;
	padding: 50px;
	margin-left: 20px;	
	padding-bottom: 40px;
	padding-top: 36px;
	margin-top: -1px;
}

footer {
	color: #000;
	padding: 20px;
	background: #ccc;
}
