/**
 * Float Layout Activity 
 **/

* {
  box-sizing: border-box;
  text-align: center;
}

body {

}

header {

	padding: 20px;
	margin-bottom: 20px;
	color: #333;
  background: #ccc;
}

section {
	background: #eee;
	margin-bottom: 20px;
	padding: 50px;
}

#left {
	padding: 20px;
	margin-bottom: 20px;
	width: 33.3%;
	color: #666;
  	background: #ccc;
  	float: left;
}

#middle {
	padding: 20px;
	margin-bottom: 20px;	
	color: #333;
  	background: #888;
  	width: 33.3%;
  	float: left; 
}

#right {
	background: #666;
	padding: 20px;
	margin-bottom: 20px;
	width: 33.3%;
	float: left;
}

#full {
	background: #eee;
	margin-top: 100px;
}

#division {
	background: #6ea3da;
	margin-bottom: 30px;
	padding: 15px;
}

aside {
	background: #fff;
	float: left;
	padding: 45px;
	margin-left: 20px;	
}

footer {
	color: #000;
	padding: 20px;
	background: #ccc;
}
